.App {
  text-align: center;
  box-sizing: border-box;
}

.main-div {
  margin: 180px auto;
  border: 1px solid #000000;
  border-radius: 40px;
  max-width: 700px;
  max-height: 600px;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.account-heading {
  font-size: 28px;
  background-color: rgb(247, 242, 242);
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px 40px 0 0;
}

.scroll-div {
  overflow-y: scroll;
  max-height: 460px;
}

.page-selection {
  display: flex;
}
